.cell {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
}

:host {
  background-color: #ebf7ff;
}

:host.empty {
  background-color: #1B262C;
}
.top {
  flex-direction: column;
}

.bottom {
  flex-direction: column-reverse;
}

.leftSide {
  flex-direction: row;
}

.rightSide {
  flex-direction: row-reverse;
}

p {
  margin: 0;
  font-size: 1em;
}

.leftSide p {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.rightSide p {
  writing-mode: vertical-lr;
}

[class^="group-"] {
  flex: 2;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center
}

img {
  flex: 8;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0.3em;
}

.leftSide img {
  transform: rotate(-90deg);
}

.rightSide img {
  transform: rotate(90deg);
}


.group-1 {
  background-color: #ffffd6;
}

.group-2 {
  background-color: #ffff59;
}

.group-3 {
  background-color: #32bc49;
}

.group-4 {
  background-color: #8f3eff;
}

.group-5 {
  background-color: #bc3273;
}

.group-6 {
  background-color: #da8e23;
}

.group-7 {
  background-color: #72d435;
}

.group-8 {
  background-color: #32bcb9;
}

.group-9 {
  background-color: #3e32bc;
}

.group-10 {
  background-color: #bc3232;
}
